{% set url = url_for("router.debug") %}

<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<h1>DEBUG</h1>



<table>
<thead>
  <tr>
      <th>Forum</th>
  </tr>
</thead>



<tbody>
{% for ta in ta_arr %} 
  <tr>
    <td>{{ta[0]}}</td>

       <tr>
       	<td>
    {%for comment in ta[1]%} 
	 
	    	<p>{{comment}}</p>
	 
    {%endfor%}
    	</td>
       </tr>

  </tr>
{%endfor%}

</tbody>
</table>