<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



{% block content %}
<h1>Your account for Rate My TA was successfully created!</h1>
<h1>Please click on the link below to confirm your email address and activate your account.</h1>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
{% endblock %}