<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
  <div class="nav-wrapper blue darken-1"><a href="#" class="brand-logo">ratemyTA</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/logout">Logout</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href="{{ url }}/profile">My Profile</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/search">Search Your TA</a></li>
    </ul>
  </div>
</nav>

{% extends "base.html" %}
{% block content %}
{% endblock %}