<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% extends "navigation-bar.html" %}
{% block content %}
<form action="{{ url_for('router.reset_password') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="field-wrap">
        <label>
            Email Address<span class="req">*</span>
        </label>
        <input type="text" name="email" />
    </div>
</form>
{% endblock %}